{% extends "my1stapp/base.html" %}
{% load static %}

{% block content %}
     <div class="container" style="margin-top: 120px">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'my1stapp/images/octocat-wave-dribbble.gif' %}" alt="Card image cap">
                <div class="card-body">
                   <h5 class="card-title">Github</h5>

    <p class="card-text">You can find all my project file here.To see this portfolio project you can directly go from the below link</p>
    <a href="https://github.com/Pulok000" target="_blank" class="card-link">Github</a>
    <a href="https://github.com/Pulok000/Django-Portfolio" class="card-link" target="_blank">This project</a>
                </div>

            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'my1stapp/images/linked.gif' %}" alt="Card image cap">
                <div class="card-body">
                   <h5 class="card-title">Linkedin</h5>

    <p class="card-text">Here is my Linkedin profile.You can knock me from here also</p>
    <a href="https://www.linkedin.com/in/pulokahmed/" class="card-link" target="_blank">Linkedin</a>


                </div>

            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'my1stapp/images/CornyVariableIcterinewarbler-small.gif' %}" alt="Card image cap">
                <div class="card-body">
                   <h5 class="card-title">Gmail</h5>

    <p class="card-text">My gmail address is pulokahmed07@gmail.com.If you want you can mail me there.Also you can send me direect message from the contact page</p>
    <a href="https://pulokahmed.herokuapp.com/contact" target="_blank" class="card-link">Mesasage</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}